/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: whitesmoke
}

/* Header */

.logo {
    height: 19px;
    padding: 30px 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 68px;

}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding-top: 25px;
    border-top: 2px solid transparent;

}

.navigation a:hover {
    border-top: 2px solid var(--main-color);
    color: #0065FC;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
}

.title {
    display: flex;
}

.subtitle {
    margin-top: 8px;
}

.sectionrecherche {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    height: 49px;
    width: 377px;
}



.searchbar {
    display: flex;
    text-align: center;
    height: 49px;
    width:100%;
    border: 1px solid var(--grey, #F2F2F2);
    background: var(--white, #FFF);
    font-weight: 700;
    font-size: 18px;
}

.searchbtn {
    color: white;
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    display: none;
    
}

.searchbtn2 {
    color: white;
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    font-weight: 700;
    font-size: 18px;
    padding: 10px;

}

.logolocation {
    width: 50px;
    height: 49px;
    color: black;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.fa-magnifying-glass {
    display: none;
}

.fa-location-dot {
    color: black;
}

h1 {
    font-size: 22px;
}

.sectionfiltres {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
    width: 756px;
    height: 50px;
}

.btns-filtres {
    display: flex;
    gap: 15px;
}

.btnfiltre {
    display: flex;
    height: 35px;
    padding: 4px 19px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background-color: white;
    justify-content: space-evenly;
    

}

.btns-filtres :hover {
    background-color : lightblue;
}

.btnfiltre i {
    margin-right: 10px;
}

.texte-filtres strong {
    white-space: nowrap;
}

.fa-money-bill-wave {
    font-size: 20px;
}

.fa-person {
    font-size: 20px;
}

.fa-heart {
    font-size: 20px;
}

.fa-fire {
    font-size: 20px;
}

.texte-filtres {
    font-size: 17px;
}

.filtres {
    font-size: 18px;
}


.info {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.iconinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 24px;
    width: 24px;
    border-radius: 25px;
    border: 1px solid var(--grey-tint-2, #D9D9D9);
    font-size: 12px;
}

/*Main */

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;

}

.section-title2 {
    margin: 0;
    font-size: 22px;

}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    height: 611.5px;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 650px;
    

}

.Amina {
    object-fit: cover;  
}

.mer {
    object-fit: cover;
}


/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    margin-bottom: 14%;
    
    

    


}

.hebergementtitle {
    display: flex;
    width: 100%;
    height: 26px;
    
}

.cardmarseille {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 207.25px;
    margin: 16px 0;
    padding: 5px 5px 0px 5px;
    
    
}

.hebergement-cards img {
    width: 100%;
    height: 124px;
    border-radius: 15px 10px 0px 0px;

}

.hebergement-cards {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    gap: 30px;
    padding-top: 15px;
    width: 100%;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 10px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
    padding-left: 12px;
}


.hebergement-cards .card-rating {
    margin-bottom: 5px;
    padding-left: 10px;
}

.colonne-hebergement {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.afficherplus {
    padding-top: 5px;
    font-size: 18px;
}



/****** Populaires ***********/

.populaires {
    width: 32% !important;
    

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Section Activités */

.section-marseille {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.titre-marseille {
    display: flex;
    padding-left: 30px
}


.activitesmarseille {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    ;
    gap: 30px;
    margin-bottom: 5%;
    padding-top: 3%;
    width: 100%;
}

.photomarseille {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.cardactivites {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 380px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    margin-top: 25px;
}

.legende {
    display: flex;
    padding-left: 19px;
    height: 59px;
    width: 100%;
}

.txt-legende {
    font-size: 16px;
}

/* Footer */

.footer {
    height: 165px;
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    background: var(--grey, #F2F2F2);
    justify-content: space-between;
    padding: 10px;
    padding-right: 350px;
}

.footersection {
    height: 150px;
    flex-direction: row;
    margin-left: 20px;
    font-size: 16px;
}

.footerbackground {
    background: var(--grey, #F2F2F2);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
        height: unset;
        width: 100%;
    }

    .main-container {
        width: 100%;
    }

    .logo {
        width: 61px;
        height: 19px;
    }

    .navigation {
        width: 344px;
        height: 35px;

    }

    .sectionfiltres {
        width: 100%;
        flex-wrap: wrap;

    }

    .info {
        padding-top: 50px;

    }

    .section-title {
        padding-bottom: 20px;
        
    }

    .section-title2 {
        padding-bottom: 20px;
        
    }

    .hebergements-and-populaires {
        width: 100%;
        
    }

    .hebergements {
        width: 100% !important;
        margin: 0;
        padding: 30px 30px 0px 30px !important;
        height: 611.5px !important; 

    }


    .hebergement-cards {
        gap: 30px;
        padding-top: 15px;
        width: 100% !important;
        
    }

    .afficherplus {
        margin: 0;
        padding-top: 10px;
        
    }

    .populaires {

        height: 252px !important;
        width: 100% !important;
    }

    .card {
        margin: 0 !important;
        width: 100% !important;
        height: 142px !important;
        padding: 5px 5px 0px 5px;
    
    }

    .colonne-hebergement {
        width: 100%;
        
    }

    .cardmarseille {
        width: 100% !important;
        padding-right: 5px;
        
    }

    .cardmarseille img {
        width: 100%;
        object-fit: cover;
        
    }



    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    
    }

    .populaires-cards .card {
        width: 30%;
        
    }

    .populaires-cards .card-title {
        font-size: 16px;
        
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;   
    }


    .activitesmarseille {
        height: unset;
        width: 100%;

    }

    .section-marseille {
        margin-top: 35px;
        width: 100%;
    }

    .cardactivites {
        width: 100%;
        height: 270px;
        margin: 0;
    }

    .photomarseille {
        width: 100%;
        height: 200px;
        padding-bottom: 11px;
        padding-right: 2px;
        object-fit: cover;
    }

    .legende {
        width: 100%;
        padding-bottom: 10px;

    }

    .txt-legende {
        width: 90%;
    }


    .titre-marseille {
        padding-top: 10px;
    }

    .footer {
        margin: 30px 0px 0px 0px;
        padding: 0px 200px 20px 0px;
        justify-content: space-evenly;
        gap: 100px;
        height: 163px !important;
        
    }

    .footersection {
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* ... */
    .main-container {
        padding: 0px;
        max-width: 93%;

    }

    .header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .logo {
        width: 15%;
        height: 19px;
        padding-bottom: 10px;
        padding-left: 35px;
    }

    .navigation {

        padding-bottom: 30px;
        width: 100%;
        justify-content: space-around;
    }

    .navigation a:hover {
        
        border-bottom: 2px solid var(--main-color);
        color: #0065FC;
        border-top: unset;   
    }

    .navigation a {
        width: 50%;
        border-bottom: 2px solid transparent;
        display: flex;
        padding-bottom: 40px;
        border-top: unset;
        justify-content: center;

    }

    .title {
        width: 90%;
        height: 52px;
        padding-left: 20px;
        justify-content: flex-start;
        padding-left: 5%;
        margin: 20px 0;
    }

    .subtitle {
        width: 100%;
        height: 19px;
        justify-content: flex-start;
        display: flex;
        padding-left: 20px;
        max-width: 400px;

    }

    .sectionrecherche {
        width: 95%;
        height: 49px;
        padding-left: 30px;
        justify-content: flex-start;

    }

    .logolocation {
        width: 15%;

    }

    .searchbar {
        width: 120% !important;
        

    }

    .searchbtn {
        width: 45px;
        border-radius: 15px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        margin: 0 0 0 50%;
        padding-bottom: 20px;
        display: flex;

    }

    .searchbtn2 {
        display: none;
    }

    .fa-magnifying-glass {
        color: white;
        padding-left: 5px;
        padding-top: 10px;

    }

    .sectionfiltres {
        
        height: 161px;
        padding-left: 17px;
        margin: 0;
        padding-top: 20px;
        width: 90%;
    }

    .filtres {
        display: flex;
        width: 100px;
        justify-content: flex-start;
        
    }

    .btns-filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        width: 80%;
        gap: 10%;

    }

    .btnfiltre {
        width: 90%;
        height: 35px;
        font-size: 14px;

    }

    .info {
        justify-content: center;

    }

    .hebergements-and-populaires {
        height: unset;
        flex-direction: column-reverse;
        width: 100% !important;
        padding-bottom: 20px;
        justify-content: center;


    }

    .info {
        display: flex;
        justify-content: flex-start;
        margin-top: 0;
        padding-left: 5%;

    }

    .fa-chart-line {
        padding-right: 565px;

    }

    .card {
        display: flex;
        width: 100% !important;
        padding: 5px 5px 5px 5px;
        margin: 10px !important;


    }

    .hebergements {
        display: flex;
        flex-direction: column;
        height: unset !important;
        background-color: white !important;
        padding: 0px 20px 0px 0px !important;
        width: 100%;
        justify-content: center;
        background-color: blue;   

    }

    .cardmarseille:nth-child(1) { 
        order: 1;
        background-color: green;
    }
    .cardmarseille:nth-child(2) { 
        order: 4;  
        background-color: red;
    }
    .cardmarseille:nth-child(3) { 
        order: 6;
    }
    .cardmarseille:nth-child(4) {
        order :2;
    }
    .cardmarseille:nth-child(5) {  
        order: 3;
    }
    .cardmarseille:nth-child(6) { 
        order: 5;
    }

    .hebergement-cards {
        padding: 0;
        width: 100%;
        justify-content: center;
    }

    .populaires {
        flex-direction: column;
        width: 100% !important;
        height: 609px !important;
        background-color: #F2F2F2 !important;
        border-radius: 0% !important;
        margin: 0;
        padding: 0 !important;


    }

    .populaires-title {
        padding: 0 20px;
        width: 90%;


    }

    .fa-chart-line {
        display: flex;
        padding: 0;


    }

    .populaires-cards {
        flex-direction: column;
        padding-left: 10px !important;

        height: 350px;
        gap: 0;
        width: 90% !important;

    }

    .card-txt {
        width: 100%;
    }



    .section-title {
        padding-left: 20px;

    }

    .section-title2 {
        padding-top: 20px;
        padding-bottom: 20px;


    }

    .hebergement-cards {
        flex-direction: column;
        gap: 0px;


    }

    .section-marseille {
        width: 100% !important;
        margin: 0 !important;

    }

    .activitesmarseille {
        height: unset;
        flex-direction: column;
        width: calc(100% - 40px) !important;
    }


    .card-content {}

    .cardmarseille {
        width: 95% !important;
        padding: 0;
        

        margin: 0;
        

    }

    .hebergement-cards img {
        width: 100%;


    }

    .colonne-hebergement {

        justify-content: center;
        padding-top: 15px;
        padding-left: 15px;
        gap: 15px;

    }

    .afficherplus {
        padding-left: 20px;

    }

    .cardmarseille {
        padding: 5px;


    }


    .activitesmarseille {
        padding-left: 20px;
        gap: 35px;
        height: unset;
        width: 100%;

    }

    .cardactivites {
        width: 90%;
        height: 200px;
        margin: 0;


    }

    .photomarseille {
        width: 100%;
        height: 141px;
    }

    .section-marseille {
        margin: 10px 10px 50px 10px;
        height: unset;

    }

    .footer {
        height: 461px !important;
        flex-direction: column;
        margin: 0;
        padding-right: 15%;

        gap: 0;

    }

    .footersection {
        height: unset;
        padding-left: 20px;
        width: 100%;
    }
}

/* Small devices (phones, less than 500px) */
@media (max-width: 500px) {

    .title {
        padding-bottom: 10px;
    }

    .btns-filtres {
        flex-direction: column;
        width: 90%;
    }

    .card {
        width: 95% !important;
    }


    .hebergement-cards {
        padding-top: 20px;
    }

       }

    
